 <svg >
   <line x1="0" y1="100" x2="1000" y2="100" style="stroke:rgb(14, 13, 13);stroke-width:7" />
     <line x1="0" y1="105" x2="1000" y2="105" style="stroke:rgb(255,0,0);stroke-width:6" />
  </svg>
  <a style="padding-top:0px" href="http://www.financa.gov.al/" title="Ministria e Financave dhe Ekonomisë"><img src="http://www.financa.gov.al/files/logo/small_mf.jpg" alt=""></a>
  <svg >
      <line x1="0" y1="100" x2="100%" y2="100" style="stroke:rgb(14, 13, 13);stroke-width:7" />
        <line x1="0" y1="105" x2="1000" y2="105" style="stroke:rgb(255,0,0);stroke-width:6" />
     </svg> <svg >
        <line x1="0" y1="100" x2="1000px" y2="100" style="stroke:rgb(14, 13, 13);stroke-width:7" />
          <line x1="0" y1="105" x2="1000" y2="105" style="stroke:rgb(255,0,0);stroke-width:6" />
       </svg><svg >
          <line x1="0" y1="100" x2="1000px" y2="100" style="stroke:rgb(14, 13, 13);stroke-width:7" />
            <line x1="0" y1="105" x2="1000" y2="105" style="stroke:rgb(255,0,0);stroke-width:6" />
         </svg>
         
           
         
   
  <nav>
    
      <ul class="nav nav-justified">
        
        <li>
        </li>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Downloads</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      
     
 
</nav>
    
