nav{
  
    padding-left: 0px;
    padding-right: 30px;
    
    margin-bottom: 0;
    list-style: none;
}
.logo{
    padding-top: 0px;
}



div {
    padding-left: 0;
    padding-right: 1000px;
    
    padding-top: 0;
    margin-bottom: 0;
    
}
