nav{
    
    padding-left: 500px;
}
.logo{
    padding-top: 0px;
}



div {
    padding-left: 0;
    padding-right: 1000px;
    
    padding-top: 0;
    margin-bottom: 0;
    
}
center {
    display: block;
    text-align: -webkit-center;
}

#masterwrapper {
    background: url(C:\afmis\src\app\nav\img\bgwn.jpg) repeat-x top center;
}

#logo {
    position: absolute;
    z-index: 1000;
    padding-top: 0px;
    padding-left: 300px;

}