 <!-- <div > 
            

          
  <table>
    <tr > 
      <td id="td1" style=" width: 40%; text-align: right; letter-spacing: 2px; color:  rgb(230, 46, 46);">
<h1 style="font-weight: bold; text-align: right; font-size: 60px; color:  rgb(230, 46, 46);">AFMIS</h1>
          <br>
            
 <h2 style="font-size: 50px;"> Albanian <br> Financial <br> Management<br> Information <br>System </h2>
      </td>
     <!-- <td> <p></p></td> 
      <td id="paragrafi">
<p style="width:90%">	AFMIS will be a web-based system, integrating the budget execution functions supported by the existing 
  Albanian Treasury System (AGFIS) with additional functional modules to support budget preparation, 
  including Medium Term Budget Planning, Public Investment Management, and related monitoring and reporting needs.
   AFMIS platform shall also include the web portal, and data warehouse solutions, and be integrated with existing government systems.	
   Key business priorities of AFMIS are:
          </p>  
           <ul>
              <li>Linking strategic planning and budgeting</li>
              <li>Improving the medium-term planning and budget preparation process</li>
              <li>Strengthening programme budgeting</li>
              <li>Improving selection, planning, funding and management of public investments</li>
              <li>Monitoring performance of programmes and investment projects according to financial and non-financial indicators</li>
              <li>Evaluating projects’ efficiency and effectiveness</li>
              <li>Sharing of budget and project information among all stakeholders</li>
              <li>Introducing a flexible multi-dimensional reporting system with analytical tools</li>
              <li>Based on this improved access to data, institutions implementing the projects shall be assigned with more responsibility for the whole project implementation process - from identification to execution and monitoring</li>
            </ul>
            <br>
           <div style="padding-left: 70%"> <button type="button" > more...  </button></div>
      </td>
    </tr>
  </table> </div> -->

  <div class="jumbotron">
    <h1 class="display-3">AFMIS</h1>
    <p class="lead">Albanian Financial Management Information System</p>
    <hr class="my-4">
    <p style=" text-align: justify;">	AFMIS will be a web-based system, integrating the budget execution functions supported by the existing 
      Albanian Treasury System (AGFIS) with additional functional modules to support budget preparation, 
      including Medium Term Budget Planning, Public Investment Management, and related monitoring and reporting needs.
       AFMIS platform shall also include the web portal, and data warehouse solutions, and be integrated with existing government systems.	
       Key business priorities of AFMIS are:
              </p>  
               <ul>
                  <li>Linking strategic planning and budgeting</li>
                  <li>Improving the medium-term planning and budget preparation process</li>
                  <li>Strengthening programme budgeting</li>
                  <li>Improving selection, planning, funding and management of public investments</li>
                  <li>Monitoring performance of programmes and investment projects according to financial and non-financial indicators</li>
                  <li>Evaluating projects’ efficiency and effectiveness</li>
                  <li>Sharing of budget and project information among all stakeholders</li>
                  <li>Introducing a flexible multi-dimensional reporting system with analytical tools</li>
                  <li>Based on this improved access to data, institutions implementing the projects shall be assigned with more responsibility for the whole project implementation process - from identification to execution and monitoring</li>
                </ul>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button" align="right">Learn more</a>
    
    </p>
  </div>