

h1 {
    text-align: left;
    color: black;
    margin-left: 40px;
}
p{
    color: black;
    margin-left: 40px;
    margin-right: 60px;
}

li, ul{
    color: black;
    
    text-align: justify;
    font-size: 1vw;
}

#paragrafi {
    text-align: justify;
    letter-spacing: 0px;
    font-size: 2vw;
   
}


button{
    background-color: rgb(230, 46, 46);
    border: black;
    padding: 30px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
}


